.loginBtn{
    transition: all 0.25s ease-in-out;
}

.loginBtn:hover{
    background-color: #256fd4;
}

.jobBtn{
    /* color: #256fd4;
    background-color: white; */
    transition: all 0.3s ease-in-out;
}

.jobBtn:hover{
    color: white;
    background-color: #0146a6;
}

.sticky-navbar {
    background-color: #111111;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 30;
}

.active{
    /* color: #256fd4; */
    /* text-decoration: underline; */
    /* border-bottom: 2px solid; */
    /* text-transform: uppercase; */
    font-weight: bold;
    transition: all 0.3s ease;
    scale: 1.3;

}


.altOfLoginRegisterButton{
    display: none;
}